<body>
    <div id="app">
<span>
    <input type="button" id="var1CP" name="var1CP" value="+" v-on:click="myth(1)">
    <table>
       <tr>
         <td colspan="2" align="center">Plr</td>
          <td> 
             <td>
                <select v-model="noofplrs" name ="plrss" id ="plrss">
                    <option value ="2">         2         </option>
                    <option value ="3">         3         </option>
                    <option value ="4">          4        </option>
                    <option value ="5">           5       </option>
                    <option value ="6">            6      </option>

                </select>
             </td>
      </tr>
      <tr>
        <td colspan="2" align="center">Swaya</td>
         <td><input type="checkbox" id="swaya1" v-model="swaya1" />
           <label for="checkbox">1</label></td>
           <td><input type="checkbox" id="swaya2" v-model="swaya2" />
               <label for="checkbox">2</label></td>
               <td><input type="checkbox" id="swaya3" v-model="swaya3" />
                   <label for="checkbox">3</label></td>
                   <td><input type="checkbox" id="swaya4" v-model="swaya4" />
                       <label for="checkbox">4</label></td>
                       <td><input type="checkbox" id="swaya5" v-model="swaya5" />
                           <label for="checkbox">5</label></td>
                           <td><input type="checkbox" id="swaya6" v-model="swaya6" />
                               <label for="checkbox">6</label></td>        
     </tr>
     <tr>
        <td colspan="2" align="center">Material</td>
         <td><input type="number" min="1" max="5" id="mal1" v-model="mal1" />
           
           <td><input type="number" min="1" max="5" id="mal2" v-model="mal2" />
              
               <td><input type="number" min="1" max="5" id="mal3" v-model="mal3" />
                 
                   <td><input type="number" min="1" max="5" id="mal4" v-model="mal4" />
                  
                       <td><input type="number" min="1" max="5" id="mal5" v-model="mal5" />
                          
                           <td><input type="number" min="1" max="5" id="mal6" v-model="mal6" />
                            
     </tr>
     <tr>
        <td colspan="2" align="center">Jit</td>

        <td><input type="radio" name="jit" v-model="jit" value="1" />
           
            <td><input type="radio" name="jit" v-model="jit" value="2" />
               
                <td><input type="radio"  name="jit" v-model="jit"  value="3"/>
                  
                    <td><input type="radio" name="jit" v-model="jit" value="4" />
                   
                        <td><input type="radio" name="jit"  v-model="jit"  value="5"/>
                           
                            <td><input type="radio" name="jit"  v-model="jit"  value="6"/>


         
                            
     </tr>

     <tr>
        <td colspan="2" align="center">Final</td>
         <td><input type="number" min="1" max="5" id="final1" v-model="final1" />
           
           <td><input type="number" min="1" max="5" id="final2" v-model="final2" />
              
               <td><input type="number" min="1" max="5" id="final3" v-model="final3" />
                 
                   <td><input type="number" min="1" max="5" id="final4" v-model="final4" />
                  
                       <td><input type="number" min="1" max="5" id="final5" v-model="final5" />
                          
                           <td><input type="number" min="1" max="5" id="final6" v-model="final6" />
                            
     </tr>


    </table>
 Summary 
</br>
 Total : {{totalm}}
</br>
  jit :{{jit}}
</br>
 wp1 : {{wp1}}  wp2 : {{wp2}}  wp3 : {{wp3}}  wp4 : {{wp4}}  wp5 : {{wp5}}  wp6 : {{wp6}}
</br>
swaya1 : {{swaya1}}  swaya2 : {{swaya2}}  swaya3 : {{swaya3}}  swaya4 : {{swaya4}}  swaya5 : {{swaya5}}  swaya6 : {{swaya6}}
</span>

fa fa {{fa}}
</div>


    <script src="Vue.js"></script>
    <script src="calc.js"></script>
</body>