@layer calc {
  * {
    font-family: "Sofia", sans-serif;
    font-size: 16px
  }

  img {
    border-radius: 50%;
    width: 20px;
    height: 20px
  }

  .fix {
    width: 3000px;
  }

  .ascoreelement {
    display: inline-block;
    background-color: yellow;
    width: 40px;
    color: green;
    margin-top: 14px;
    text-align: right;
  }

  .arowelement {
    display: inline-block;
    color: green;
    margin-top: 14px;
    text-align: right;
  }

  .rotate-text {
    display: inline-block;
    width: 40px;
    transform: rotate(-90deg);
    text-align: left;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  button {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
  }

  .btnplus {
    background-color: rgb(4, 121, 52);
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 12px 3px 12px;
    text-decoration: none;
  }

  .btnminus {
    background-color: rgb(167, 7, 119);
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 12px 3px 12px;
    text-decoration: none;
  }

  .R {
    color: crimson
  }

  .B {
    color: black;
  }

  .score {
    display: inline-block;
    width: 40px;
    text-align: right;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #2196F3;
  padding: 2px;

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 4px;
  font-size: 16;
  text-align: center;
}

.grid-item:nth-of-type(8) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}